DATABASE_URL="postgresql://1shop:1shop_password@localhost:5432/1shop?schema=public"
DIRECT_URL="postgresql://1shop:1shop_password@localhost:5432/1shop?schema=public"
SHADOW_DATABASE_URL="postgresql://1shop:1shop_password@localhost:5432/1shop_shadow"
REDIS_URL="redis://localhost:6379"
AUTH_SECRET="change-me-to-a-random-secret-at-least-32-chars"

APP_URL="http://localhost:3000"
APP_ENV="development"